.procesosSection {
  display: flex;
  flex-direction: column;
}

.introParagraph {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.introParagraph p {
  text-align: justify;
}

.listContainer {
  margin: 2rem 0;
}

.procesosList {
  list-style-type: none;
}

/* Responsive Adjustments */
@media (max-width: 480px) {
  .mainContent {
    padding: 1rem;
  }
}
